<div class="col animated fadeIn fast">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="heroe.img"
          [alt]="heroe.nombre"
          class="img-fluid rounded-start py-4"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <p class="card-text">
            {{ heroe.bio }}
          </p>
          <div
            class="card-text d-flex justify-content-between align-items-center"
          >
            <button (click)="verHeroe()" class="btn btn-outline-danger btn-sm">
              Ver más
            </button>
            <small class="text-muted">{{ heroe.aparicion }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
