<div class="animated fadeIn fast">
  <h2>
    Buscando <small>{{ search }}</small>
  </h2>
  <hr />

  <div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        No existen resultados con el término: {{ search }}
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-lg-2 g-4">
    <app-hero-card
      [routerLink]="['/heroe', foo.id]"
      [index]="foo.id"
      [heroe]="foo"
      *ngFor="let foo of heroes"
    >
    </app-hero-card>
  </div>
</div>
